<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tactic.description %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @tactic.medium %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @tactic.importance %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @tactic.frequency %>
</p>

<p>
  <strong>Start:</strong>
  <%= @tactic.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @tactic.end %>
</p>

<p>
  <strong>Kpi:</strong>
  <%= @tactic.kpi %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @tactic.budget %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @tactic.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @tactic.belongs_to %>
</p>

<%= link_to 'Edit', edit_tactic_path(@tactic) %> |
<%= link_to 'Back', tactics_path %>
