<%= form_for(@value_proposition) do |f| %>
  <% if @value_proposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value_proposition.errors.count, "error") %> prohibited this value_proposition from being saved:</h2>

      <ul>
      <% @value_proposition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2 class="text-center">Marketing Mix</h2>
      <div class="well">

        <div class="input-group">
          <%= f.label :name, class: "input-group-addon" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>      
          <div class="input-group">
            <%= f.label :product_service, class: "input-group-addon" %>
            <%= f.text_area :product_service, class: "form-control", placeholder: "Product or Service description", rows: 5 %>
          </div>
          <div class="input-group">
            <%= f.label :price, class: "input-group-addon" %>
            <%= f.number_field :price, class: "form-control", placeholder: "What's the price point?" %>
          </div>
          <div class="input-group">
            <%= f.label :promotion, class: "input-group-addon" %>
            <%= f.text_area :promotion, class: "form-control", placeholder: "Promotion strategy description", rows: 4 %>
          </div>
          <div class="input-group">
            <%= f.label :place, class: "input-group-addon" %>
            <%= f.text_area :place, class: "form-control", placeholder: "Where can we find the product/service?" %>
          </div>
          <div class="input-group">
            <%= f.label :differentiation, class: "input-group-addon" %>
            <%= f.text_area :differentiation, class: "form-control", placeholder: "What's the Unique Selling Point, positioning?", rows: 4 %>
          </div>        
      </div> <!-- end of well -->

    <h2 class="text-center">Value Proposition Canvas</h2>    
      <div class="well">

        <div class="input-group">
          <%= f.label :gain_creator, class: "input-group-addon" %>
          <%= f.text_area :gain_creator, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label :pain_reliever, class: "input-group-addon" %>
          <%= f.text_area :pain_reliever, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label :company_id, "Value Proposition for Company" %>
          <%= f.collection_select :company_id, Company.order(:name), :id, :name, include_blank: "Nothing selected" %>
        </div>

      </div>  <!-- end of well -->
     
      <div class="actions text-center">
        <%= f.submit class: "btn btn-success" %>
      </div>

  </div>  <!-- end of col-md-6 -->
</div>  <!-- end of row -->
<% end %>
