<%= form_for(@value_proposition) do |f| %>
  <% if @value_proposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value_proposition.errors.count, "error") %> prohibited this value_proposition from being saved:</h2>

      <ul>
      <% @value_proposition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_service %><br>
    <%= f.text_area :product_service %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :promotion %><br>
    <%= f.text_area :promotion %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_area :place %>
  </div>
  <div class="field">
    <%= f.label :gain_creator %><br>
    <%= f.text_area :gain_creator %>
  </div>
  <div class="field">
    <%= f.label :pain_reliever %><br>
    <%= f.text_area :pain_reliever %>
  </div>
  <div class="field">
    <%= f.label :differentiation %><br>
    <%= f.text_area :differentiation %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
