<p id="notice"><%= notice %></p>

<h1>Listing Value Propositions</h1>

<table>
  <thead>
    <tr>
      <th>Product service</th>
      <th>Price</th>
      <th>Promotion</th>
      <th>Place</th>
      <th>Gain creator</th>
      <th>Pain reliever</th>
      <th>Differentiation</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @value_propositions.each do |value_proposition| %>
      <tr>
        <td><%= value_proposition.product_service %></td>
        <td><%= value_proposition.price %></td>
        <td><%= value_proposition.promotion %></td>
        <td><%= value_proposition.place %></td>
        <td><%= value_proposition.gain_creator %></td>
        <td><%= value_proposition.pain_reliever %></td>
        <td><%= value_proposition.differentiation %></td>
        <td><%= value_proposition.company %></td>
        <td><%= link_to 'Show', value_proposition %></td>
        <td><%= link_to 'Edit', edit_value_proposition_path(value_proposition) %></td>
        <td><%= link_to 'Destroy', value_proposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value proposition', new_value_proposition_path %>
