<p id="notice"><%= notice %></p>

<p>
  <strong>Product service:</strong>
  <%= @value_proposition.product_service %>
</p>

<p>
  <strong>Price:</strong>
  <%= @value_proposition.price %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @value_proposition.promotion %>
</p>

<p>
  <strong>Place:</strong>
  <%= @value_proposition.place %>
</p>

<p>
  <strong>Gain creator:</strong>
  <%= @value_proposition.gain_creator %>
</p>

<p>
  <strong>Pain reliever:</strong>
  <%= @value_proposition.pain_reliever %>
</p>

<p>
  <strong>Differentiation:</strong>
  <%= @value_proposition.differentiation %>
</p>

<p>
  <strong>Company:</strong>
  <%= @value_proposition.company %>
</p>

<%= link_to 'Edit', edit_value_proposition_path(@value_proposition) %> |
<%= link_to 'Back', value_propositions_path %>
