<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @segment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @segment.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @segment.size %>
</p>

<p>
  <strong>Growth:</strong>
  <%= @segment.growth %>
</p>

<p>
  <strong>Company:</strong>
  <%= link_to @segment.company.name, @segment.company %>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
