<%= form_for(@company) do |f| %>
<div class="row">
  <div class="col-md-6 offset-3">
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>  
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <div class="input-group">
        <%= f.label :name, class: "input-group-addon" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="input-group">
        <%= f.label :logo, "Logo URL", class: "input-group-addon" %>
        <%= f.text_field :logo, class: "form-control" %>
      </div>
      <div class="input-group">
        <%= f.label :website, "Website URL", class: "input-group-addon" %>
        <%= f.text_field :website, class: "form-control", placeholder: "http://www. ..." %>
      </div>
      <div class="input-group">
        <%= f.label :address, class: "input-group-addon" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>  
    </div>
  </div>
</div>  

  <h3 class="text-center">Setting the scene</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">  
      <div class="input-group">
        <%= f.label :pitch, class: "input-group-addon" %>
        <%= f.text_area :pitch, class: "form-control", rows: 3, placeholder: "Pitch of their activity, what do they propose and how do they make money?" %>
      </div>
      <div class="input-group">
        <%= f.label :context, class: "input-group-addon" %>
        <%= f.text_area :context, class: "form-control", rows: 4, placeholder: "What's the situation right now?" %>
      </div>
      <div class="input-group">
        <%= f.label :goal, class: "input-group-addon" %>
        <%= f.text_area :goal, class: "form-control", rows: 3, placeholder: "1. First and most important goal\n2. Second goal\n3. Third goal" %>
      </div>
    </div>  
  </div>   
</div>

<h3 class="text-center">Mission Statement</h3>  
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">    
      <div class="input-group">
        <%= f.label :mission, class: "input-group-addon" %>
        <%= f.text_area :mission, class: "form-control", rows: 3, placeholder: "What's their mission?" %>
      </div>
      <div class="input-group">
        <%= f.label :vision, class: "input-group-addon" %>
        <%= f.text_area :vision, class: "form-control", rows: 3, placeholder: "What's their vision?" %>
      </div>
      <div class="input-group">
        <%= f.label :values, class: "input-group-addon" %>
        <%= f.text_area :values, class: "form-control", rows: 3, placeholder: "What are their core values" %>
      </div>
    </div>
  </div>
</div>    


<div class="actions text-center">
  <%= f.submit class: "btn btn-success center" %>
</div>
<% end %>
