<p id="notice"><%= notice %></p>
<%= image_tag @company.logo, class: "thumbnail pull-right" %>
<h1><%= link_to @company.name, @company.website %></h1>
<p>
  <strong><%= simple_format @company.pitch %></strong>
</p>
<address>
<%= simple_format @company.address %>
</address>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-camera-retro" aria-hidden="true"></i> Context</h3>
      </div>
      <div class="panel-body">
        <%= simple_format @company.context %>
      </div>
    </div>    
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-crosshairs" aria-hidden="true"></i> Goal</h3>
      </div>
      <div class="panel-body">
        <%= simple_format @company.goal %>
      </div>  
    </div>
  </div>
</div>




<div class="well">
  <div class="row">
    <div class="col-md-4">
      <p>
        <h4>Mission</h4>
        <%= simple_format @company.mission %>
      </p>
    </div>

    <div class="col-md-4">
      <p>
        <h4>Vision</h4>
        <%= simple_format @company.vision %>
      </p>
    </div>

    <div class="col-md-4">
      <p>
        <h4>Values</h4>
        <%= simple_format @company.values %>
      </p>
    </div>        
  </div>

</div>

<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_company_path(@company) %></button>  
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to "Add POC", new_company_poc_path(@company) %></button>
  <button type="button" class="btn btn-default"><%= link_to "Add Value Proposition", new_company_value_proposition_path(@company) %></button>
  <button type="button" class="btn btn-default"><%= link_to "Add Market Segment", new_company_segment_path(@company) %></button>
</div>
<p>
  
</p>

<hr>
<h3>Points of Contact <span class="badge"><%= @company.pocs.count %></span></h3>
<div class="row">
  <% @company.pocs.each do |poc| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="<%= poc.linkedin %>"><img src="<%= poc.img %>" alt="<%= poc.name %>"></a>
        <div class="caption">
          <h3><%= poc.name %></h3>
          <p><span class="label label-info"><%= poc.title %></span> acting as POC <span class="label label-info"><%= poc.role %></span></p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> <%= poc.telephone %><br>
            <i class="fa fa-envelope" aria-hidden="true"></i> <%= poc.email %>
          </p>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
              <a href="<%= poc.twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </button>
            <button type="button" class="btn btn-default">
              <a href="<%= poc.linkedin %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </button>            
          </div>
          <%= link_to "edit", edit_poc_path(poc), class: "btn btn-sm btn-default pull-right" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>
<h3>Segments <span class="badge"><%= @company.segments.count %></span></h3>
<div class="row">
  <% @company.segments.each do |segment| %>
    <div class="col-md-4">

      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= segment.name %></h3>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><strong>Description</strong><br> <%= segment.description %></li>
          <li class="list-group-item"><strong>Size</strong><br> <%= segment.size %></li>
          <li class="list-group-item"><strong>Growth</strong><br> <%= segment.growth %></li>
          <li class="list-group-item">
            <strong>Personas</strong><br>
            <ul>
              <% segment.personas.each do |persona| %>
                <li><%= link_to persona.name, persona %><br>(<%= persona.role %>)</li>
              <% end %>
            </ul>
          </li>
          <li class="list-group-item">
            <strong>Objectives</strong><br>
            <ul>
              <% segment.objectives.each do |objective| %>
                <li><%= link_to objective.specific, objective %><br>(<%= objective.measurable %>)</li>
              <% end %>
            </ul>
          </li>          
        </ul>

        <div class="panel-body">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <%= link_to "Add Persona", new_segment_persona_path(segment), class: "btn btn-sm btn-default" %>
            <%= link_to "Add Objective", new_segment_objective_path(segment), class: "btn btn-sm btn-default" %>
            <%= link_to "Edit", edit_segment_path(segment), class: "btn btn-sm btn-default" %>
          </div>
        </div>
      </div>

    </div> <!-- close col-md-4 -->
  <% end %>
</div>   <!-- close row -->

<hr>
<h3>Value Propositions <span class="badge"><%= @company.value_propositions.count %></span></h3>
<div class="row">
  <% @company.value_propositions.each do |vp| %>
    <div class="col-md-4">

      <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= vp.product_service %></h3>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><strong>Price:</strong> <%= vp.price %></li>
          <li class="list-group-item"><strong>Promotion:</strong><br> <%= simple_format vp.promotion %></li>
          <li class="list-group-item"><strong>Place:</strong><br> <%= simple_format vp.place %></li>
          <li class="list-group-item"><strong>Differentiation:</strong><br> <%= simple_format vp.differentiation %></li>
          <li class="list-group-item"><strong>Gain Creator:</strong><br> <%= simple_format vp.gain_creator %></li>
          <li class="list-group-item"><strong>Pain Reliever:</strong><br> <%= simple_format vp.pain_reliever %></li>
        </ul>

        <div class="panel-body">
          <%= link_to "Edit", edit_value_proposition_path(vp), class: "btn btn-sm btn-default pull-right" %>
        </div>
      </div>

    </div> <!-- close col-md-4 -->
  <% end %>
</div>   <!-- close row -->

<hr>
<h3>Personas <span class="badge"><%= @company.pocs.count %></span></h3>
<div class="row">
  <% @personas.each do |persona| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="<%= persona.img %>" alt="<%= persona.name %>">
        <div class="caption">
          <h3><%= persona.name %></h3>
          <p><span class="label label-info"><%= persona.segment.name %></span> / <span class="label label-info"><%= persona.role %></span></p>
          <%= link_to "edit", edit_persona_path(persona), class: "btn btn-sm btn-default pull-right" %>
          <p class="clearfix"></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>
<h3>Objectives <span class="badge"><%= @objectives.count %></span></h3>
<div class="row">
  <% @objectives.each do |objective| %>
    <div class="col-md-4">

      <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= objective.specific %></h3>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><strong>Segment:</strong> <%= link_to objective.segment.name, objective.segment %></li>
          <li class="list-group-item"><strong>Personas:</strong> <br>
            <ul>
              <% objective.segment.personas.each do |persona| %>
                <li><%= link_to persona.name, persona %><br>
                    (<%= persona.role %>)
                </li>
              <% end %>
            </ul>
          </li>
          <li class="list-group-item"><strong>KPI:</strong><br> <%= objective.measurable %></li>
          <li class="list-group-item"><strong>Achievable?:</strong><br> <%= simple_format objective.achievable %></li>
          <li class="list-group-item"><strong>Realism:</strong><br> <%= simple_format objective.realistic %></li>
        </ul>

        <div class="panel-body">
          <%= link_to "Edit", edit_objective_path(objective), class: "btn btn-sm btn-default pull-right" %>
        </div>
      </div>

    </div> <!-- close col-md-4 -->
  <% end %>
</div>   <!-- close row -->

<ul class="pager">
  <li><%= link_to 'Edit', edit_company_path(@company) %></li>
  <li><%= link_to 'Back', companies_path %></li>
</ul>

