<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @company.pitch %>
</p>

<p>
  <strong>Context:</strong>
  <%= @company.context %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @company.goal %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @company.mission %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @company.vision %>
</p>

<p>
  <strong>Values:</strong>
  <%= @company.values %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
