<p id="notice"><%= notice %></p>

<h1><%= link_to @company.name, @company.website %></h1>
<%= image_tag @company.logo, class: "logo-image pull-right" %>
<address>
<%= @company.address %>
</address>

<p>
  <h4>Pitch:</h4>
  <%= @company.pitch %>
</p>

<p>
  <h4>Context:</h4>
  <%= @company.context %>
</p>

<p>
  <h4>Goal:</h4>
  <%= @company.goal %>
</p>

<p>
  <h4>Mission:</h4>
  <%= @company.mission %>
</p>

<p>
  <h4>Vision:</h4>
  <%= @company.vision %>
</p>

<p>
  <h4>Values:</h4>
  <%= @company.values %>
</p>

<p>
  <%= link_to "Add POC", new_company_poc_path(@company), class: "btn btn-default" %>
</p>

<h3>Points of Contact</h3>
<div class="row">
  <% @company.pocs.each do |poc| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="<%= poc.linkedin %>"><img src="<%= poc.img %>" alt="<%= poc.name %>"></a>
        <div class="caption">
          <h3><%= poc.name %></h3>
          <p><span class="label label-info"><%= poc.title %></span> acting as POC <span class="label label-info"><%= poc.role %></span></p>
<!--           <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>
  <% end %>
</div>

<ul class="pager">
  <li><%= link_to 'Edit', edit_company_path(@company) %></li>
  <li><%= link_to 'Back', companies_path %></li>
</ul>

