<div class="row">
  <% personas.each do |persona| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="<%= persona.img %>" alt="<%= persona.name %>" class="blurb-image">

        <div class="caption">
          <h3><%= persona.name %></h3>
          <p><span class="label label-info"><%= persona.segment.name %></span> / <span class="label label-info"><%= persona.role %></span></p>
          <%= link_to "edit", edit_persona_path(persona), class: "btn btn-sm btn-default pull-right" %>
          <p class="clearfix"></p>
        </div>
      </div>
    </div>
  <% end %>
</div>