<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @persona.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @persona.img %>
</p>

<p>
  <strong>Role:</strong>
  <%= @persona.role %>
</p>

<p>
  <strong>Jobs:</strong>
  <%= @persona.jobs %>
</p>

<p>
  <strong>Pains:</strong>
  <%= @persona.pains %>
</p>

<p>
  <strong>Gains:</strong>
  <%= @persona.gains %>
</p>

<p>
  <strong>Touch points:</strong>
  <%= @persona.touch_points %>
</p>

<p>
  <strong>Quotes:</strong>
  <%= @persona.quotes %>
</p>

<p>
  <strong>Age:</strong>
  <%= @persona.age %>
</p>

<p>
  <strong>Income:</strong>
  <%= @persona.income %>
</p>

<p>
  <strong>Education:</strong>
  <%= @persona.education %>
</p>

<p>
  <strong>Location:</strong>
  <%= @persona.location %>
</p>

<p>
  <strong>Story:</strong>
  <%= @persona.story %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @persona.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @persona.belongs_to %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
