<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @strategy.description %>
</p>

<p>
  <strong>Ksf:</strong>
  <%= @strategy.ksf %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @strategy.belongs_to %>
</p>

<%= link_to 'Edit', edit_strategy_path(@strategy) %> |
<%= link_to 'Back', strategies_path %>
