<p id="notice"><%= notice %></p>

<h1>Listing Pocs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Role</th>
      <th>Img</th>
      <th>Linkedin</th>
      <th>Twitter</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pocs.each do |poc| %>
      <tr>
        <td><%= poc.name %></td>
        <td><%= poc.title %></td>
        <td><%= poc.role %></td>
        <td><%= poc.img %></td>
        <td><%= poc.linkedin %></td>
        <td><%= poc.twitter %></td>
        <td><%= poc.telephone %></td>
        <td><%= poc.email %></td>
        <td><%= poc.company %></td>
        <td><%= link_to 'Show', poc %></td>
        <td><%= link_to 'Edit', edit_poc_path(poc) %></td>
        <td><%= link_to 'Destroy', poc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poc', new_poc_path %>
