<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poc.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @poc.title %>
</p>

<p>
  <strong>Role:</strong>
  <%= @poc.role %>
</p>

<p>
  <strong>Img:</strong>
  <%= @poc.img %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @poc.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @poc.twitter %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @poc.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @poc.email %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @poc.belongs_to %>
</p>

<%= link_to 'Edit', edit_poc_path(@poc) %> |
<%= link_to 'Back', pocs_path %>
