<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>
  
  <%= render 'shared/menu' %>

  <div class="container">
    <%= render 'shared/flash' %>

    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

</body>
</html>
